{% extends 'course/base.html' %}
{% block title %} Contact {% endblock title %}
{% block body %}
<div class="container">
<h1 class="text-light display-4">Contact</h1>
<div class= "form-group my-4 text-white">
    <form method="POST">
        {% csrf_token %}
       {% for i in forms %}
            {{i.label_tag}}
            {{i}}
        {% endfor %}
        <br>
    <input type="Submit" value="Submit" class="btn btn-light">
    </form>
    <br>
    {% if messages %}
        {% for i in messages %}
            {{i}}
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock body %}